* {
  box-sizing: border-box;
}
img {
  min-height: 380px;
  opacity: 0.2;
}
.intro {
  
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
}

.projects {
  /* background-color: lightgray */
}

.intro-text {
  
}

.intro-heading {
  font-size: 80px;
}

.section-heading {
  
  padding-bottom: 10px;
  position: relative;
}

.section-heading span {
  top: 100%;
  right: 50%;
  position: absolute;
  width: 40px;
  border-bottom: 5px solid #0069D9;
}

@media(min-width: 720px) {
  .projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }

  .item {
    width: 48%;
  }
}