* {
  box-sizing: border-box;
}
img {
  min-height: 380px;
  opacity: 0.2;
}

main {
  max-width: 1440px;
  margin: 0 auto;

}
.intro {
 
}

.projects-wrapper {

}

.item {
  -webkit-box-shadow: -4px 7px 15px -2px rgba(0,0,0,1);
  -moz-box-shadow: -4px 7px 15px -2px rgba(0,0,0,1);
  box-shadow: -4px 7px 15px -2px rgba(0,0,0,1);
}

.border-around {

  border: 1px solid gray;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  
}

.intro-heading {
  font-size: 68px;
  line-height: 1;
}

.section-heading {
  
  padding-bottom: 10px;
  position: relative;
}

.section-heading span {
  top: 100%;
  right: 50%;
  position: absolute;
  width: 40px;
  border-bottom: 5px solid #0069D9;
}

.social {
  font-size: 38px;
}

.footer {
  height: 60px;
  display: flex;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
}

@media(min-width: 720px) {
  .projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }

  .item {
    width: 45%;
  }
}

/* @media (prefers-color-scheme: dark) {
  body,footer, .intro-text {
    background-color: black;
    color: white;
  }
} */